[Unit]
Description=Scanner and send service
After=network.target

[Service]
ExecStart=/usr/bin/bash -u filesTransferir.sh
WorkingDirectory=/home/diego/Documents/embedded-systems-3
StandardOutput=inherit
StandardError=inherit
Restart=always
User=diego

[Install]
WantedBy=multi-user.target